@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #03131E;
    font-family: 'Tektur', sans-serif;
    width: 90%;
}
#Moon, #Items, #Bestiary, #Storage, #Other{
    margin-top: 60px;
    font-size: 40px;
    cursor: pointer;
}
#BestiaryInfo, #StorageInfo, #ItemsInfo, #OtherInfo, #MoonInfo, #Moon, #Other, #Bestiary, #Items, #Storage{
    overflow: hidden;
    display: none;
    margin-top: 30px;
}
#ButtonTerminal{
    display: block;
    font-family: 'Tektur', monospace;
    font-size: 45px;
    color: darkgreen;
    margin-left: 60px;
    margin-top: 150px;
    width: 26ch;
    overflow: hidden;
    letter-spacing: 5px;
    white-space: nowrap;
    border: none;
    border-right: 4px solid #083812;
    animation: flashing-border 0.25s step-start infinite,
    printed-text 1s steps(29);
    background-color: #03131E;
}
#TextConsole{
    font-family: 'Tektur', monospace;
    font-size: 40px;
    color: darkgreen;
    margin-left: 5%;
    margin-top: 7%;
    overflow: hidden;
    letter-spacing: 5px;
}
.BestiaryInfo, .StorageInfo, .ItemsInfo, .OtherInfo, .MoonInfo{
    margin-top: 20px;
    font-size: 25px;
}
#Moons{
    display: none;
    margin-left: 50px;
    border: 2px solid green;
    overflow: hidden;
    white-space: nowrap;
    width: 200px;
    color: darkgreen;
    height: 335px;
    margin-top: 50px;
    border-radius: 5px;
}
.MoonsPhoto{
    height: 500px;
    width: 800px;
    float: right;
}

.Moon{
    padding-bottom: 15px;
}
#ButtonTerminal:hover{
    cursor: pointer;
}
#TextConsole{
    color: darkgreen;
    font-size: 36px;
    margin-top: 18px;
    white-space: nowrap;
    width: 100%;
}
#MoonsInfo{
    font-size: 30px;
    color: darkgreen;
    margin-left: 310px;
    position: relative;
    margin-top: -300px;
    width: 1500px;
    height: 300px;
}
#MoonsN41_Info{
    display: none;
}
#BackButton{
    color: darkgreen;
    font-size: 45px;
    display: none;
    margin-left: 85%;
    font-family: 'Tektur', monospace;
    width: 140px;
    height: 60px;
    margin-top: 150px;
    background-color: #03131E;
    border: none;

}
.Info{
    display: none;
}
#MoonsN21, #MoonsN41, #MoonsN71, #MoonsN220, #MoonsN56, #MoonsN61, #MoonsN85, #MoonsN7, #MoonsN8{
    display: none;
}
.Moons{
    padding-top: 12px;
    width: 200px;
    height: 30px;
    text-align: center;
}
#WaitPage, #RequestFound{
    overflow: hidden;
    white-space: nowrap;
    display: None;
    margin-top: 10%;
    margin-left: 25%;
    width: 25ch;
    font-size: 50px;
    color: darkgreen;
    border-right: 4px solid #083812;
    animation: flashing-border 0.25s step-start infinite,
    printed-text 1s steps(29); ;
}
@keyframes flashing-border {
    0%{
        border-color: #083812;
    }
    50%{
        border-color: transparent;
    }
    100%{
        border-color: #083812;
    }
}
@keyframes printed-text {
    from{
        width: 0;
    }
}
#Storage:hover::before, #Items:hover::before, #Moon:hover::before, #Other:hover::before, #Bestiary:hover::before, #ButtonTerminal:hover::before{
    content: "  >  ";
}
.Moons:hover{
    background-color: forestgreen;
    cursor: pointer;
}

